<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:fb='http://www.facebook.com/2008/fbml'>
<head>
  <title>Fureas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render :partial => "layouts/header" %>
  <% if (flash[:notice].present? || flash[:alert].present? || flash[:error].present?) %>
   <div class="banner">
    <button type="button" class="close modal-close-btn" data-dismiss="modal">


                        </button>
    <strong><%= render :partial => "layouts/flash_messges" %></strong>
  </div>
</div>
  </div>
  <% end %>

  <%= yield %>
  <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <%= render :partial => "sessions/new" %>
  </div>
  <div class="modal fade" id="myModal1" tabindex="-1" aria-hidden="true">
    <%= render :partial => "welcome/new" %>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" aria-hidden="true">
    <%= render :partial => "users/new" %>
  </div>


  <%= render :partial => "layouts/footer" %>
</body>

</html>
